body {
  background-image: url("https://groupe-nsi.github.io/img/bienvenue.jpg");
  background-size:cover;
}

div #start {
  height: 200px;
  margin: 0 auto;
  text-align: center;
}

div #jouer {
  display: none;
  height: 200px;
  margin: 0 auto;
  text-align: center;
}
